
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.certifications{
    background: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
}

header {
    text-align: center;
    background: #0073e6;
    color: white;
    padding: 20px;
}
.about{
    text-align: center;
    background: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}
.skill{
    text-align: left;
    background: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

h3{
    text-align: left;

}
ul{
    text-align: left;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    
}

.project {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
}

footer {
    background: #222;
    color: white;
    padding: 10px;
}
